<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="platform">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import platform urdf file -->
    <xacro:include filename="$(find drims2_description)/urdf/ur10e_2f/ur10e_2f_cell.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="platform.ros2_control.xacro" />


    <xacro:platform_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
